 <header>
    <h1>Welcome to the main page of PetShop.com</h1>
   </header>
   <section>
   <header>
	<h2>News</h2>
	<p>There are no news for current moment, but you can change that by sending us any propositions on our e-mail.</p>
	<p>For more info click on <a href="about1">link</a></p>
    <p><input type="search" 
        placeholder="Search line"></p>
   </header>
   <p><strong>Search tab are not available at current moment</strong></p>
   <p>Sorry for the inconvenience.</p>
  </section>
<p><strong>Here`s links to buy best friends:</strong></p>
<p>For buy friends click here: <a  href="buy"> Our animals </a></p>
<p> And before you bought friends please read the rules!</p>
<p><strong> And remember life without animals - is boring! </strong></p>